TypedPushButton {
	border: none;
	padding: 0 5px;
}

/* negative button */
TypedPushButton[type="0"] {
	background-color: #c02;
	color: #fff;
}

/* neutral button */
TypedPushButton[type="1"] {
	background-color: #888;
	color: #fff;
}

/* positive button */
TypedPushButton[type="2"] {
	background-color: #8c0;
	color: #fff;
}

QMainWindow {
	background-color: #222;
}

ActionCollection {
	margin: 20px;
}

ActionFrame {
	margin-bottom: 20px;
	background-color: #fff;
}

FilterCollection {
	margin-top: 20px;
	background-color: #eee;
}

FilterFrame {
	border-top: 1px solid #ddd;
	background-color: #eee;
}

ActionCollection > TypedPushButton,
FilterCollection > TypedPushButton {
	padding: 10px 20px;
}

TitleBar {
	margin-bottom: 1px;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

TitleBar QLabel {
	font-weight: bold;
}

TitleBar TypedPushButton[type="0"],
TitleBar TypedPushButton[type="1"],
TitleBar TypedPushButton[type="2"] {
	margin-left: 2px;
	padding-left: 0;
	padding-right: 0;
	width: 20px;
	background-color: transparent;
	color: #000;
}

TitleBar TypedPushButton[type="0"]:hover {
	background-color: #c02;
	color: #fff;
}

TitleBar TypedPushButton[type="1"]:hover {
	background-color: #888;
	color: #fff;
}

TitleBar TypedPushButton[type="2"]:hover {
	background-color: #8c0;
	color: #fff;
}

Action,
Filter {
	margin: 20px;
}
